translation_agents/multi_language_translate_ai_agent.json
{
    "name": "Multi Language Translator AI Agent",
    "flow": [
        {
            "id": 8,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 2,
                "sheetId": "EnglishText",
                "__IMTCONN__": 5666456,
                "spreadsheetId": "/1ALSY7gVhBr-ldqPLO1o5mTpH-YMBczuM-qYATMjIiDE",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "EnglishText"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (dotweilerofficial@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Make Foundation Use Case"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Text (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "LangRequest (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "(D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "execution",
                "variables": [
                    {
                        "name": "url",
                        "value": "Helsinki-NLP/opus-mt-en-{{8.`2`}}"
                    },
                    {
                        "name": "text_input",
                        "value": "{{8.`1`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One execution"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "url",
                        "type": "any",
                        "label": "url"
                    },
                    {
                        "name": "text_input",
                        "type": "any",
                        "label": "text_input"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "huggingface:createTranslation",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6611127
            },
            "mapper": {
                "model": "{{7.url}}",
                "inputs": "{{8.`1`}}",
                "options": {}
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "options": {
                            "nested": {
                                "use_cache": {
                                    "mode": "chose"
                                },
                                "wait_for_model": {
                                    "mode": "chose"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "huggingface"
                            },
                            "label": "My Hugging Face connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:huggingface",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "inputs",
                        "type": "text",
                        "label": "Inputs",
                        "required": true
                    },
                    {
                        "name": "options",
                        "spec": [
                            {
                                "name": "use_cache",
                                "type": "boolean",
                                "label": "Use Cache"
                            },
                            {
                                "name": "wait_for_model",
                                "type": "boolean",
                                "label": "Wait for Model"
                            }
                        ],
                        "type": "collection",
                        "label": "Options"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 11,
                    "module": "google-sheets:addRow",
                    "version": 2,
                    "parameters": {
                        "__IMTCONN__": 5666456
                    },
                    "mapper": {
                        "from": "drive",
                        "mode": "select",
                        "values": {
                            "0": "{{8.`0`}}",
                            "1": "{{now}}"
                        },
                        "sheetId": "TranslationErrorLogs",
                        "spreadsheetId": "/1ALSY7gVhBr-ldqPLO1o5mTpH-YMBczuM-qYATMjIiDE",
                        "includesHeaders": true,
                        "insertDataOption": "INSERT_ROWS",
                        "valueInputOption": "USER_ENTERED",
                        "insertUnformatted": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "from": {
                                    "label": "My Drive"
                                },
                                "mode": {
                                    "label": "Search by path"
                                },
                                "sheetId": {
                                    "label": "TranslationErrorLogs"
                                },
                                "spreadsheetId": {
                                    "path": [
                                        "Make Foundation Use Case"
                                    ]
                                },
                                "includesHeaders": {
                                    "label": "Yes",
                                    "nested": [
                                        {
                                            "name": "values",
                                            "spec": [
                                                {
                                                    "name": "0",
                                                    "type": "text",
                                                    "label": "Id (A)"
                                                },
                                                {
                                                    "name": "1",
                                                    "type": "text",
                                                    "label": "Timestamp (B)"
                                                },
                                                {
                                                    "name": "2",
                                                    "type": "text",
                                                    "label": "(C)"
                                                },
                                                {
                                                    "name": "3",
                                                    "type": "text",
                                                    "label": "(D)"
                                                },
                                                {
                                                    "name": "4",
                                                    "type": "text",
                                                    "label": "(E)"
                                                },
                                                {
                                                    "name": "5",
                                                    "type": "text",
                                                    "label": "(F)"
                                                },
                                                {
                                                    "name": "6",
                                                    "type": "text",
                                                    "label": "(G)"
                                                },
                                                {
                                                    "name": "7",
                                                    "type": "text",
                                                    "label": "(H)"
                                                },
                                                {
                                                    "name": "8",
                                                    "type": "text",
                                                    "label": "(I)"
                                                },
                                                {
                                                    "name": "9",
                                                    "type": "text",
                                                    "label": "(J)"
                                                },
                                                {
                                                    "name": "10",
                                                    "type": "text",
                                                    "label": "(K)"
                                                },
                                                {
                                                    "name": "11",
                                                    "type": "text",
                                                    "label": "(L)"
                                                },
                                                {
                                                    "name": "12",
                                                    "type": "text",
                                                    "label": "(M)"
                                                },
                                                {
                                                    "name": "13",
                                                    "type": "text",
                                                    "label": "(N)"
                                                },
                                                {
                                                    "name": "14",
                                                    "type": "text",
                                                    "label": "(O)"
                                                },
                                                {
                                                    "name": "15",
                                                    "type": "text",
                                                    "label": "(P)"
                                                },
                                                {
                                                    "name": "16",
                                                    "type": "text",
                                                    "label": "(Q)"
                                                },
                                                {
                                                    "name": "17",
                                                    "type": "text",
                                                    "label": "(R)"
                                                },
                                                {
                                                    "name": "18",
                                                    "type": "text",
                                                    "label": "(S)"
                                                },
                                                {
                                                    "name": "19",
                                                    "type": "text",
                                                    "label": "(T)"
                                                },
                                                {
                                                    "name": "20",
                                                    "type": "text",
                                                    "label": "(U)"
                                                },
                                                {
                                                    "name": "21",
                                                    "type": "text",
                                                    "label": "(V)"
                                                },
                                                {
                                                    "name": "22",
                                                    "type": "text",
                                                    "label": "(W)"
                                                },
                                                {
                                                    "name": "23",
                                                    "type": "text",
                                                    "label": "(X)"
                                                },
                                                {
                                                    "name": "24",
                                                    "type": "text",
                                                    "label": "(Y)"
                                                },
                                                {
                                                    "name": "25",
                                                    "type": "text",
                                                    "label": "(Z)"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Values"
                                        }
                                    ]
                                },
                                "insertDataOption": {
                                    "mode": "chose",
                                    "label": "Insert rows"
                                },
                                "valueInputOption": {
                                    "mode": "chose",
                                    "label": "User entered"
                                },
                                "insertUnformatted": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google"
                                    },
                                    "label": "My Google connection (dotweilerofficial@gmail.com)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:google",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "mode",
                                "type": "select",
                                "label": "Search Method",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "select",
                                        "fromAll",
                                        "map"
                                    ]
                                }
                            },
                            {
                                "name": "insertUnformatted",
                                "type": "boolean",
                                "label": "Unformatted",
                                "required": true
                            },
                            {
                                "name": "valueInputOption",
                                "type": "select",
                                "label": "Value input option",
                                "validate": {
                                    "enum": [
                                        "USER_ENTERED",
                                        "RAW"
                                    ]
                                }
                            },
                            {
                                "name": "insertDataOption",
                                "type": "select",
                                "label": "Insert data option",
                                "validate": {
                                    "enum": [
                                        "INSERT_ROWS",
                                        "OVERWRITE"
                                    ]
                                }
                            },
                            {
                                "name": "from",
                                "type": "select",
                                "label": "Drive",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "drive",
                                        "share",
                                        "team"
                                    ]
                                }
                            },
                            {
                                "name": "spreadsheetId",
                                "type": "file",
                                "label": "Spreadsheet ID",
                                "required": true
                            },
                            {
                                "name": "sheetId",
                                "type": "select",
                                "label": "Sheet Name",
                                "required": true
                            },
                            {
                                "name": "includesHeaders",
                                "type": "select",
                                "label": "Table contains headers",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        true,
                                        false
                                    ]
                                }
                            },
                            {
                                "name": "values",
                                "spec": [
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Id (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Timestamp (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "(C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "(D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "(E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "(F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "(G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    }
                                ],
                                "type": "collection",
                                "label": "Values"
                            }
                        ]
                    }
                },
                {
                    "id": 10,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 300
                        }
                    }
                }
            ]
        },
        {
            "id": 9,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5666456
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{8.`0`}}",
                    "1": "{{5.translation_text}}",
                    "2": "{{8.`2`}}"
                },
                "sheetId": "LangText",
                "spreadsheetId": "/1ALSY7gVhBr-ldqPLO1o5mTpH-YMBczuM-qYATMjIiDE",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "LangText"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Make Foundation Use Case"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Text (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Lang (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "(D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "(E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "(F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (dotweilerofficial@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Text (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Lang (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}