generative_art_agents/current_sports_news_meme_generator.json
{
    "name": "Current Sports News AI Meme Generator",
    "flow": [
        {
            "id": 7,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "access_key",
                        "value": "7aa67e739cf5b3c7fcbafa49886741e6"
                    },
                    {
                        "name": "categories",
                        "value": "sports"
                    },
                    {
                        "name": "countries",
                        "value": "us"
                    }
                ],
                "url": "http://api.mediastack.com/v1/news",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 8,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 209,
                            "y": 692
                        }
                    }
                }
            ]
        },
        {
            "id": 10,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "topic",
                "scope": "roundtrip",
                "value": "{{7.data.data[floor(random * length(7.data.data))].title}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "topic",
                        "type": "any",
                        "label": "topic"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{10.topic}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{10.topic}}",
                            "b": "{{emptystring}}",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 1,
                            "module": "dumplingai:generateAiImageFluxSchnell",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6746740
                            },
                            "filter": {
                                "name": "Topic Fetched",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.topic}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{10.topic}}",
                                            "b": "{{emptystring}}",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "seed": "{{timestamp}}",
                                "prompt": "Generate a meme on the topic: \"{{10.topic}}\"",
                                "go_fast": true,
                                "megapixels": "0.25",
                                "num_outputs": "1",
                                "aspect_ratio": "1:1",
                                "output_format": "png",
                                "output_quality": "80",
                                "num_inference_steps": "4",
                                "disable_safety_checker": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "go_fast": {
                                            "mode": "chose"
                                        },
                                        "megapixels": {
                                            "mode": "chose",
                                            "label": "0.25 MP"
                                        },
                                        "aspect_ratio": {
                                            "mode": "chose",
                                            "label": "1:1"
                                        },
                                        "output_format": {
                                            "mode": "chose",
                                            "label": "PNG"
                                        },
                                        "disable_safety_checker": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "dumplingai"
                                            },
                                            "label": "My Dumpling AI connection (Bulls and Bears)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:dumplingai",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "prompt",
                                        "type": "text",
                                        "label": "Prompt",
                                        "required": true
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "num_outputs",
                                        "type": "number",
                                        "label": "Number of Outputs"
                                    },
                                    {
                                        "name": "aspect_ratio",
                                        "type": "select",
                                        "label": "Aspect Ratio",
                                        "validate": {
                                            "enum": [
                                                "1:1",
                                                "16:9",
                                                "21:9",
                                                "3:2",
                                                "2:3",
                                                "4:5",
                                                "5:4",
                                                "3:4",
                                                "4:3",
                                                "9:16",
                                                "9:21"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "output_format",
                                        "type": "select",
                                        "label": "Output Format",
                                        "validate": {
                                            "enum": [
                                                "webp",
                                                "jpg",
                                                "png"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "output_quality",
                                        "type": "number",
                                        "label": "Output Quality"
                                    },
                                    {
                                        "name": "num_inference_steps",
                                        "type": "number",
                                        "label": "Number of Inference Steps"
                                    },
                                    {
                                        "name": "disable_safety_checker",
                                        "type": "boolean",
                                        "label": "Disable Safety Checker"
                                    },
                                    {
                                        "name": "go_fast",
                                        "type": "boolean",
                                        "label": "Go Fast"
                                    },
                                    {
                                        "name": "megapixels",
                                        "type": "select",
                                        "label": "Megapixels",
                                        "validate": {
                                            "enum": [
                                                "1",
                                                "0.25"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 5,
                                    "module": "email:ActionSendMeEmail",
                                    "version": 7,
                                    "parameters": {},
                                    "mapper": {
                                        "to": "dotweilerofficial@gmail.com",
                                        "html": "We regret to inform you that for technical reasons (such as network load or your credits running out), the meme that you requested could not be generated. Please check your balance. If empty, please try again after refill.",
                                        "subject": "Meme Generation Failed"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 300
                                        },
                                        "restore": {
                                            "expect": {
                                                "to": {
                                                    "label": "dotweilerofficial@gmail.com"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "to",
                                                "type": "select",
                                                "label": "To",
                                                "required": true
                                            },
                                            {
                                                "name": "subject",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "html",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 4,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 300
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 11,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "email:ActionSendMeEmail",
                            "version": 7,
                            "parameters": {},
                            "mapper": {
                                "to": "dotweilerofficial@gmail.com",
                                "html": "<p>Here is a meme on the topic: \"{{1.prompt}}\"</p><br/>\n<img src=\"{{1.images[].url}}\">\n<p>Thank you for using our service!</p>",
                                "subject": "Image you requested"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "to": {
                                            "label": "dotweilerofficial@gmail.com"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "select",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "email:ActionSendMeEmail",
                            "version": 7,
                            "parameters": {},
                            "filter": {
                                "name": "Topic Not Fetched",
                                "conditions": []
                            },
                            "mapper": {
                                "to": "dotweilerofficial@gmail.com",
                                "html": "Currently we could not find a Meme topic from the news database. Please try later.",
                                "subject": "No Memeable Topic"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "to": {
                                            "label": "dotweilerofficial@gmail.com"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "select",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}